interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Creating","creationDate":"2020-11-12T14:33:43.8948774+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null},"sku":{"name":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002","name":"AadTest000002","location":"eastus","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/20cdfd00-f646-d71e-1867-77d19acc1a5a?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/20cdfd00-f646-d71e-1867-77d19acc1a5a?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/20cdfd00-f646-d71e-1867-77d19acc1a5a","name":"20cdfd00-f646-d71e-1867-77d19acc1a5a","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/20cdfd00-f646-d71e-1867-77d19acc1a5a?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002?api-version=2020-06-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-11-12T14:33:50+00:00","endpoint":"https://aadtestavg5ukcz.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestavg5ukcz","name":"AadTest000002","location":"eastus","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b602582d-0000-0100-0000-5fad47cd0000"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","properties":{"provisioningState":"Succeeded","creationDate":"2020-11-12T14:33:50+00:00","endpoint":"https://aadtestavg5ukcz.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null},"sku":{"name":"standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestavg5ukcz","name":"AadTest000002","location":"eastus","tags":{}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01&$skipToken=aadtestavg5ukcz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - </subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AppConfiguration/configurationStores?api-version=2020-06-01&$skipToken=aadtestavg5ukcz>;
        rel="next"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/AadTest000002/ListKeys?api-version=2020-06-01
  response:
    body:
      string: '{"value":[{"id":"VuxC-l0-s0:y60JXPYgIffcpgy6Iv0f","name":"Primary","value":"6l3dhn/I1I+qy9ZDYChCKh7j+Hp7GGH0RzZ2zWAcLtc=","connectionString":"Endpoint=https://aadtestavg5ukcz.azconfig.io;Id=VuxC-l0-s0:y60JXPYgIffcpgy6Iv0f;Secret=6l3dhn/I1I+qy9ZDYChCKh7j+Hp7GGH0RzZ2zWAcLtc=","lastModified":"2020-11-12T14:33:43+00:00","readOnly":false},{"id":"azgP-l0-s0:blAuuvYziBx5K/FjXiCK","name":"Secondary","value":"dSHNbbqgJBMMbSF008/Hwv/LGDWXRQmEb396O5qgW9s=","connectionString":"Endpoint=https://aadtestavg5ukcz.azconfig.io;Id=azgP-l0-s0:blAuuvYziBx5K/FjXiCK;Secret=dSHNbbqgJBMMbSF008/Hwv/LGDWXRQmEb396O5qgW9s=","lastModified":"2020-11-12T14:33:43+00:00","readOnly":false},{"id":"x2n3-l0-s0:LTZOixzLhCoas2BQ/QUg","name":"Primary
        Read Only","value":"kTbI2/NW+Ahv5H+PR7do39Yf/MOezZatxbWbCo7t0zs=","connectionString":"Endpoint=https://aadtestavg5ukcz.azconfig.io;Id=x2n3-l0-s0:LTZOixzLhCoas2BQ/QUg;Secret=kTbI2/NW+Ahv5H+PR7do39Yf/MOezZatxbWbCo7t0zs=","lastModified":"2020-11-12T14:33:43+00:00","readOnly":true},{"id":"unTe-l0-s0:TYAzdZ8DVUO0yMQcleBj","name":"Secondary
        Read Only","value":"IKP8PeLIYWhRfAtFNqalnNB2scxtjyTcrR+nePLT5i8=","connectionString":"Endpoint=https://aadtestavg5ukcz.azconfig.io;Id=unTe-l0-s0:TYAzdZ8DVUO0yMQcleBj;Secret=IKP8PeLIYWhRfAtFNqalnNB2scxtjyTcrR+nePLT5i8=","lastModified":"2020-11-12T14:33:43+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 12 2020 14:33:59 GMT
    method: GET
    uri: https://aadtestavg5ukcz.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: ''
    headers:
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - 93pU0jGCdw8QpLcz/Qn0Ull5LSCpQ1xGf+ME0csEHuE=
      x-ms-date:
      - Nov, 12 2020 14:34:00 GMT
    method: PUT
    uri: https://aadtestavg5ukcz.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: '{"etag":"EgVWvunfjl5RGlMitL16hP8tFu7","key":"Color","label":null,"content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-11-12T14:34:01+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"EgVWvunfjl5RGlMitL16hP8tFu7"'
      last-modified:
      - Thu, 12 Nov 2020 14:34:01 GMT
      sync-token:
      - zAJw6V16=NDo1IzI5NjI5NDY=;sn=2962946
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Nov, 12 2020 14:34:00 GMT
    method: GET
    uri: https://aadtestavg5ukcz.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: ''
    headers:
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": null, \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      x-ms-content-sha256:
      - d1lyg6a+9mnBVyP0ORwLzt/rsyGm0ESqcmS4R9loiVI=
      x-ms-date:
      - Nov, 12 2020 14:34:02 GMT
    method: PUT
    uri: https://aadtestavg5ukcz.azconfig.io/kv/.appconfig.featureflag%2FBeta?api-version=1.0
  response:
    body:
      string: '{"etag":"RsS7CflTnsGWEfNd5hAwQWqhj0A","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-11-12T14:34:03+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"RsS7CflTnsGWEfNd5hAwQWqhj0A"'
      last-modified:
      - Thu, 12 Nov 2020 14:34:03 GMT
      sync-token:
      - zAJw6V16=NDo1IzI5NjI5NDc=;sn=2962947
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestavg5ukcz/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Reader%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"App Configuration Data Reader","type":"BuiltInRole","description":"Allows
        read access to App Configuration data.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.AppConfiguration/configurationStores/*/read"],"notDataActions":[]}],"createdOn":"2019-10-25T18:45:33.7975332Z","updatedOn":"2019-10-25T18:45:33.7975332Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071","type":"Microsoft.Authorization/roleDefinitions","name":"516239f1-63e1-4d78-a4de-a74fb236a071"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users?$filter=userPrincipalName%20eq%20%27azureclitest%40azuresdkteam.onmicrosoft.com%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"181c08fa-7ac8-48a6-a869-342ab74566a4","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[],"assignedPlans":[],"city":null,"companyName":null,"consentProvidedForMinor":null,"country":null,"createdDateTime":"2020-07-01T06:20:59Z","creationType":null,"department":null,"dirSyncEnabled":null,"displayName":"azureclitest","employeeId":null,"facsimileTelephoneNumber":null,"givenName":null,"immutableId":null,"isCompromised":null,"jobTitle":null,"lastDirSyncTime":null,"legalAgeGroupClassification":null,"mail":null,"mailNickname":"azureclitest","mobile":null,"onPremisesDistinguishedName":null,"onPremisesSecurityIdentifier":null,"otherMails":[],"passwordPolicies":null,"passwordProfile":null,"physicalDeliveryOfficeName":null,"postalCode":null,"preferredLanguage":"en-US","provisionedPlans":[],"provisioningErrors":[],"proxyAddresses":[],"refreshTokensValidFromDateTime":"2020-10-12T01:57:23Z","showInAddressList":null,"signInNames":[],"sipProxyAddress":null,"state":null,"streetAddress":null,"surname":null,"telephoneNumber":null,"thumbnailPhoto@odata.mediaEditLink":"directoryObjects/181c08fa-7ac8-48a6-a869-342ab74566a4/Microsoft.DirectoryServices.User/thumbnailPhoto","usageLocation":null,"userIdentities":[],"userPrincipalName":"azureclitest@azuresdkteam.onmicrosoft.com","userState":null,"userStateChangedOn":null,"userType":"Member"}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2663224'
      ocp-aad-diagnostics-server-name:
      - mkefrB4RMzoU8cRuSYCOVVk1ldj6JhOeUuQxmnzjHc4=
      ocp-aad-session-key:
      - LA8Yj366_6CDzLi7xTMja2uRngjvLBFBvKkkyhYWNi69Z3cndsoyWsgWZ3v4fRhoyvTCzl0PgYIuFLmjZ7s22Ltp31k59Wd6e4YO0qjLaR5WWJLMcx5ztgYuht6Ikeem.d7P1B1Ow9QHQxEIi1TwpGnNG3rYAf_1kt7ShuN0vy4g
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071",
      "principalId": "181c08fa-7ac8-48a6-a869-342ab74566a4"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestavg5ukcz/providers/Microsoft.Authorization/roleAssignments/c0459627-7077-48c2-84a4-ff21dd136643?api-version=2020-04-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/516239f1-63e1-4d78-a4de-a74fb236a071","principalId":"181c08fa-7ac8-48a6-a869-342ab74566a4","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestavg5ukcz","condition":null,"conditionVersion":null,"createdOn":"2020-11-12T14:34:09.2502705Z","updatedOn":"2020-11-12T14:34:09.2502705Z","createdBy":null,"updatedBy":"181c08fa-7ac8-48a6-a869-342ab74566a4","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestavg5ukcz/providers/Microsoft.Authorization/roleAssignments/c0459627-7077-48c2-84a4-ff21dd136643","type":"Microsoft.Authorization/roleAssignments","name":"c0459627-7077-48c2-84a4-ff21dd136643"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"key": "Color", "value": "Blue", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"EgVWvunfjl5RGlMitL16hP8tFu7"'
      Sync-Token:
      - zAJw6V16=NDo1IzI5NjMzMzk=
    method: PUT
    uri: https://aadtestavg5ukcz.azconfig.io/kv/Color?api-version=1.0
  response:
    body:
      string: ''
    headers:
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestavg5ukcz.azconfig.io/kv?label=%00&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"RsS7CflTnsGWEfNd5hAwQWqhj0A","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-11-12T14:34:03+00:00"},{"etag":"EgVWvunfjl5RGlMitL16hP8tFu7","key":"Color","label":null,"content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2020-11-12T14:34:01+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDo1IzI5NjMzMzk=;sn=2963339
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestavg5ukcz.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=%00&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"RsS7CflTnsGWEfNd5hAwQWqhj0A","key":".appconfig.featureflag/Beta","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": null, \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2020-11-12T14:34:03+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NDo1IzI5NjMzMzk=;sn=2963339
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/aadtestavg5ukcz/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27App%20Configuration%20Data%20Owner%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"App Configuration Data Owner","type":"BuiltInRole","description":"Allows
        full access to App Configuration data.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.AppConfiguration/configurationStores/*/read","Microsoft.AppConfiguration/configurationStores/*/write","Microsoft.AppConfiguration/configurationStores/*/delete"],"notDataActions":[]}],"createdOn":"2019-10-25T18:41:40.1185063Z","updatedOn":"2019-10-25T18:41:40.1185063Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b","type":"Microsoft.Authorization/roleDefinitions","name":"5ae67dd6-50cb-40e7-96ff-dc2bfa4b606b"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://aadtestavg5ukcz.azconfig.io/kv/HostSecrets?api-version=1.0
  response:
    body:
      string: ''
    headers:
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"key": "Language", "value": "spanish"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://aadtestavg5ukcz.azconfig.io/kv/Language?api-version=1.0
  response:
    body:
      string: '{"etag":"1IO8J8PUCrtzwPGBW3O1WSYQt26","key":"Language","label":null,"content_type":null,"value":"spanish","tags":{},"locked":false,"last_modified":"2020-11-12T15:04:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1IO8J8PUCrtzwPGBW3O1WSYQt26"'
      last-modified:
      - Thu, 12 Nov 2020 15:04:36 GMT
      sync-token:
      - zAJw6V16=NDo1IzI5NjM1NDg=;sn=2963548
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "font-size", "value": "34"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDo1IzI5NjM1NDg=
    method: PUT
    uri: https://aadtestavg5ukcz.azconfig.io/kv/font-size?api-version=1.0
  response:
    body:
      string: '{"etag":"sDb8rkbBlVeUWWpIJEBO2BxLvm9","key":"font-size","label":null,"content_type":null,"value":"34","tags":{},"locked":false,"last_modified":"2020-11-12T15:04:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"sDb8rkbBlVeUWWpIJEBO2BxLvm9"'
      last-modified:
      - Thu, 12 Nov 2020 15:04:36 GMT
      sync-token:
      - zAJw6V16=NDo1IzI5NjM1NDk=;sn=2963549
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": null, \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDo1IzI5NjM1NDk=
    method: PUT
    uri: https://aadtestavg5ukcz.azconfig.io/kv/.appconfig.featureflag%2FPercentage?api-version=1.0
  response:
    body:
      string: '{"etag":"HDnPXA9WNfVweHJm04Mcvyp9ip7","key":".appconfig.featureflag/Percentage","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Percentage\", \"description\": null, \"enabled\": true, \"conditions\":
        {\"client_filters\": []}}","tags":{},"locked":false,"last_modified":"2020-11-12T15:04:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"HDnPXA9WNfVweHJm04Mcvyp9ip7"'
      last-modified:
      - Thu, 12 Nov 2020 15:04:37 GMT
      sync-token:
      - zAJw6V16=NDo1IzI5NjM1NTA=;sn=2963550
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": null, \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=NDo1IzI5NjM1NTA=
    method: PUT
    uri: https://aadtestavg5ukcz.azconfig.io/kv/.appconfig.featureflag%2FTimestamp?api-version=1.0
  response:
    body:
      string: '{"etag":"BZJH6kBNr5GGoVv9ApFrFN2lmIi","key":".appconfig.featureflag/Timestamp","label":null,"content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Timestamp\", \"description\": null, \"enabled\": true, \"conditions\": {\"client_filters\":
        [{\"name\": \"Local Tests\", \"parameters\": {\"StartTime\": \"2019-01-01T00:00:00Z\",
        \"EndTime\": \"2019-09-01T00:00:00Z\"}}, {\"name\": \"Production Tests\",
        \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\", \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}","tags":{},"locked":false,"last_modified":"2020-11-12T15:04:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"BZJH6kBNr5GGoVv9ApFrFN2lmIi"'
      last-modified:
      - Thu, 12 Nov 2020 15:04:37 GMT
      sync-token:
      - zAJw6V16=NDo1IzI5NjM1NTE=;sn=2963551
      x-ms-tenant-name:
      - aadtestavg5ukcz
    status:
      code: 200
      message: OK
[...]
